

<mat-toolbar class="tool">
    
    <div>
    <img src="../../../assets/images/LogoArgPro.png" width="220px">
    
    <span class="titulo">Argentina Programa</span>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
    <div >
      <img class="banner"src="../../../assets/images/Banner2.png">
      
    </div>
    