

<mat-toolbar>
    
    <button link rel="shortcut icon" href="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/favicon/1666227203/favicon.ico">
        <img src="../../../assets/images/ArgProgIcon.ico" width="40px">
    </button>
    <span>Argentina Programa</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
    <div >
      <img class="banner"src="../../../assets/images/rg2.jpg">
      
    </div>
    