<p>
    <mat-toolbar>
        <button mat-icon-button class="work" aria-label="Skills">
            <mat-icon>psychology</mat-icon>
        </button>
        <span>Skills</span>
        <span class="navbar"></span>
        <button mat-icon-button class="icon" aria-label="Agregar skill" (click)="openEdit()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </mat-toolbar>
</p>
<div class="box">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- ID-->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        
         <!-- Valor -->
         <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
          </ng-container>
            
        <!-- Descripcion -->
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
           <!-- Botones Column -->
          <ng-container matColumnDef="editar-eliminar">
            <th mat-header-cell *matHeaderCellDef>Editar-Eliminar</th>
            <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="openEdit(row)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="accent" (click)="onDelete(row.id)">
                <mat-icon>delete</mat-icon>
            </button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
