.table-s {
    width: 100%;
    caption-side: bottom;
    table-layout:fixed;
    border-bottom: 1px solid;
    align-items:flex-end;
    align-self: center;
    border-collapse:separate;
   
    
    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .navbar{
    flex: 1 1 auto;
    flex-direction: row-reverse;
  }
  .bar{
    width: 80%;
     
    margin-top: 17px;
   
    

    
    
    
  }
  
  