<div class="box" >
    <div class="one">
    <img class="perfil"src="../../../assets/images/perfil.jpg" width="45px" height="45px" > 
    <span>
        <h3 class="titulo">Gastón Andrés Pauletti</h3>
    </span>
</div>
<div class="two">
<h2>Full Stack Developer Jr.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugiat nihil magni dolor libero rem, exercitationem voluptas totam deserunt dolorem?
     Fugit, laudantium dolorem. Vero ut velit architecto reprehenderit inventore autem?</p>
</div>
</div>